# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
config1.py
将删除 __pycache__/
将删除 api/__pycache__/config.cpython-37.pyc
将删除 api/__pycache__/db_handler.cpython-37.pyc
将删除 local/config1.py
将删除 local/__pycache__/config1.cpython-37.pyc
将删除 local/cookies.json
将删除 api/__pycache__/
将删除 local/__pycache__/
将删除 .idea/inspectionProfiles/
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/vcs.xml
将删除 .idea/workspace.xml
!/.idea/
将删除 local/activeid.json
将删除 local/logs.log
